<template>
  <div
    class="
      min-h-screen
      flex
      justify-center
      bg-gray-50
      py-12
      px-4
      sm:px-6
      lg:px-8
    "
  >
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-10 py-5 bg-white space-y-6 sm:p-6">
          <div class="max-w-md w-full space-y-8">
            <div class="space-y-6">
              <div>
                <p>
                  Please enter your name and pick the Sectors you are currently
                  involved in
                </p>
              </div>
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-700"
                  >Name</label
                >
                <input
                  id="name"
                  v-model="answer.name"
                  type="text"
                  class="
                    appearance-none
                    rounded
                    relative
                    block
                    w-full
                    px-3
                    py-2
                    border border-gray-300
                    placeholder-gray-500
                    text-gray-900
                    focus:outline-none
                    focus:ring-indigo-500
                    focus:border-indigo-500
                    focus:z-10
                    sm:text-sm
                  "
                  placeholder="Ivan"
                />
              </div>

              <div>
                <label
                  for="sectors"
                  class="block text-sm font-medium text-gray-700"
                  >Sectors</label
                >
                <select
                  id="secrors"
                  v-model="answer.sectorIDs"
                  class="
                    form
                    relative
                    w-full
                    bg-white
                    border border-gray-300
                    rounded-md
                    shadow-sm
                    pl-3
                    pr-10
                    py-2
                    text-left
                    cursor-default
                    focus:outline-none
                    focus:ring-1 focus:ring-indigo-500
                    focus:border-indigo-500
                    sm:text-sm
                  "
                  multiple="true"
                  size="5"
                >
                  <option
                    v-for="sector in combineSectors(sectors)"
                    :key="sector.id"
                    :value="sector.id"
                  >
                    {{ sector.name }}
                  </option>
                </select>
              </div>

              <fieldset>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="agreedWithTerms"
                      v-model="answer.agreedWithTerms"
                      type="checkbox"
                      class="
                        focus:ring-indigo-500
                        h-4
                        w-4
                        text-indigo-600
                        border-gray-300
                        rounded
                      "
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="agreedWithTerms"
                      class="block text-sm font-medium text-gray-700"
                      >Agree to terms</label
                    >
                    <p class="text-gray-500">
                      By checking this box you agree to all terms and conditions
                    </p>
                  </div>
                </div>
              </fieldset>
              <button
                class="
                  group
                  relative
                  w-full
                  flex
                  justify-center
                  py-2
                  px-4
                  border border-transparent
                  text-sm
                  font-medium
                  rounded-md
                  text-white
                  bg-indigo-600
                  hover:bg-indigo-700
                  focus:outline-none
                  focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
                "
                @click="submitForm"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import useAnswer from '@/modules/answer';
import useSector from '@/modules/sector';
import { useRouter } from 'vue-router';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import { IAddAnswerRequest } from '@/interfaces/requests/addAnswerRequest';
import { ISector } from '@/interfaces/sector';

export default defineComponent({
  name: 'AddAnswerFrom',
  setup() {
    const { sectors, loadSectors } = useSector();
    onMounted(() => loadSectors());

    const answer: Ref<IAddAnswerRequest> = ref({
      name: '',
      sectorIDs: [] as number[],
      agreedWithTerms: false,
    });

    const { addAnswer } = useAnswer();

    const router = useRouter();

    const submitForm = () => {
      console.log(
        answer.value.name +
          ' ' +
          answer.value.sectorIDs +
          ' ' +
          answer.value.agreedWithTerms,
      );
      addAnswer({ ...answer.value });
      answer.value.name = '';
      answer.value.sectorIDs = [] as number[];
      answer.value.agreedWithTerms = false;

      router.push({ name: 'List' });
    };
    return { sectors, answer, submitForm };
  },
  data: () => ({
    sectorsToShow: [] as ISector[],
  }),
  methods: {
    combineSectors(inputList: ISector[]) {
      inputList.forEach((x) => {
        this.sectorsToShow.push(x);
        if (x.subSectors != null) {
          this.combineSectors(x.subSectors);
        }
        //x.name = '&nbsp;&nbsp;&nbsp;&nbsp;' + x.name;
      });
      return this.sectorsToShow;
    },
  },
});
</script>
