<template>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
      {{ answer.id }}
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">
      {{ answer.name }}
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div v-if="answer.sectors.length != 0">
      <div
        v-for="sector in answer.sectors"
        :key="sector.id"
        class="text-sm text-gray-900"
      >
        {{ sector.name }}
      </div>
    </div>
    <div v-else class="text-sm text-gray-900">No sectors were selected</div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">
      {{ answer.agreedWithTerms ? 'Yes' : 'No' }}
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <button
      type="button"
      class="
        w-full
        inline-flex
        justify-center
        rounded-md
        border border-transparent
        shadow-sm
        px-4
        py-2
        bg-blue-600
        text-base
        font-medium
        text-white
        hover:bg-blue-700
        focus:outline-none
        focus:ring-2 focus:ring-offset-2 focus:ring-red-500
        sm:ml-3
        sm:w-auto
        sm:text-sm
      "
      @click="isEditOpen = true"
    >
      Edit
    </button>
    <button
      type="button"
      class="
        w-full
        inline-flex
        justify-center
        rounded-md
        border border-transparent
        shadow-sm
        px-4
        py-2
        bg-red-600
        text-base
        font-medium
        text-white
        hover:bg-red-700
        focus:outline-none
        focus:ring-2 focus:ring-offset-2 focus:ring-red-500
        sm:ml-3
        sm:w-auto
        sm:text-sm
      "
      @click="isDeleteOpen = true"
    >
      Delete
    </button>
  </td>
  <div v-if="isEditOpen">
    <EditAnswerForm :answer="answer" @close-window="closeWindow('edit')" />
  </div>
  <div v-if="isDeleteOpen">
    <ConfirmationAnswerDelete
      :answer="answer"
      @close-window="closeWindow('delete')"
    />
  </div>
</template>

<script lang="ts">
import { IAnswer } from '@/interfaces/answer';
import { defineComponent, PropType } from 'vue';
import EditAnswerForm from './EditAnswerForm.vue';
import ConfirmationAnswerDelete from './ConfirmationAnswerDelete.vue';

export default defineComponent({
  name: 'AnswerForList',
  components: {
    EditAnswerForm,
    ConfirmationAnswerDelete,
  },
  props: {
    answer: {
      type: Object as PropType<IAnswer>,
      required: true,
    },
  },
  data: () => ({
    isEditOpen: false,
    isDeleteOpen: false,
  }),
  methods: {
    closeWindow(window: string) {
      if (window.match('edit')) this.isEditOpen = false;
      else this.isDeleteOpen = false;
    },
  },
});
</script>
