<template>
  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="
        flex
        items-end
        justify-center
        min-h-screen
        pt-4
        px-4
        pb-20
        text-center
        sm:block
        sm:p-0
      "
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="
          inline-block
          align-bottom
          bg-white
          rounded-lg
          text-left
          overflow-hidden
          shadow-xl
          transform
          transition-all
          sm:my-8
          sm:align-middle
          sm:max-w-lg
          sm:w-full
        "
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                id="modal-title"
                class="text-lg leading-6 font-medium text-gray-900"
              >
                Edit Answer
              </h3>
              <div class="mt-3">
                <div class="mb-5">
                  <label
                    for="name"
                    class="mb-1 block text-sm font-medium text-gray-700"
                    >Name</label
                  >
                  <input
                    id="name"
                    v-model="answerForEdit.name"
                    type="text"
                    class="
                      appearance-none
                      rounded
                      relative
                      block
                      w-full
                      px-3
                      py-2
                      border border-gray-300
                      placeholder-gray-500
                      text-gray-900
                      focus:outline-none
                      focus:ring-indigo-500
                      focus:border-indigo-500
                      focus:z-10
                      sm:text-sm
                    "
                  />
                </div>

                <div class="mb-5">
                  <label
                    for="sectors"
                    class="mb-1 block text-sm font-medium text-gray-700"
                    >Sectors</label
                  >
                  <select
                    id="secrors"
                    v-model="answerForEdit.sectorIDs"
                    class="
                      form
                      relative
                      w-full
                      bg-white
                      border border-gray-300
                      rounded-md
                      shadow-sm
                      pl-3
                      pr-10
                      py-2
                      text-left
                      cursor-default
                      focus:outline-none
                      focus:ring-1 focus:ring-indigo-500
                      focus:border-indigo-500
                      sm:text-sm
                    "
                    multiple="true"
                    size="5"
                  >
                    <option
                      v-for="sector in combineSectors(sectors)"
                      :key="sector.id"
                      :value="sector.id"
                    >
                      {{ sector.name }}
                    </option>
                  </select>
                </div>

                <fieldset>
                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input
                        id="agreedWithTerms"
                        v-model="answerForEdit.agreedWithTerms"
                        type="checkbox"
                        class="
                          focus:ring-indigo-500
                          h-4
                          w-4
                          text-indigo-600
                          border-gray-300
                          rounded
                        "
                      />
                    </div>
                    <div class="ml-3 text-sm">
                      <label
                        for="agreedWithTerms"
                        class="block text-sm font-medium text-gray-700"
                        >Agree to terms</label
                      >
                      <p class="text-gray-500">
                        By checking this box you agree to all terms and
                        conditions
                      </p>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            type="button"
            class="
              w-full
              inline-flex
              justify-center
              rounded-md
              border border-transparent
              shadow-sm
              px-4
              py-2
              bg-green-600
              text-base
              font-medium
              text-white
              hover:bg-green-700
              focus:outline-none
              focus:ring-2 focus:ring-offset-2 focus:ring-green-500
              sm:ml-3
              sm:w-auto
              sm:text-sm
            "
            @click="
              saveEdits();
              closeEditWindow();
            "
          >
            Save
          </button>
          <button
            type="button"
            class="
              mt-3
              w-full
              inline-flex
              justify-center
              rounded-md
              border border-gray-300
              shadow-sm
              px-4
              py-2
              bg-white
              text-base
              font-medium
              text-gray-700
              hover:bg-gray-50
              focus:outline-none
              focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
              sm:mt-0
              sm:ml-3
              sm:w-auto
              sm:text-sm
            "
            @click="closeEditWindow"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { IAnswer } from '@/interfaces/answer';
import { ISector } from '@/interfaces/sector';
import { IAddAnswerRequest } from '@/interfaces/requests/addAnswerRequest';
import useSector from '@/modules/sector';
import useAnswer from '@/modules/answer';
import { defineComponent, onMounted, PropType, Ref, ref } from 'vue';

export default defineComponent({
  name: 'EditAnswerForm',
  props: {
    answer: {
      type: Object as PropType<IAnswer>,
      required: true,
    },
  },
  emits: ['closeWindow'],
  setup(props) {
    const { sectors, loadSectors } = useSector();
    onMounted(() => loadSectors());

    const { editAnswer } = useAnswer();
    const answerForEdit: Ref<IAddAnswerRequest> = ref({
      name: props.answer.name,
      sectorIDs: [] as number[],
      agreedWithTerms: props.answer.agreedWithTerms,
    });

    const saveEdits = () => {
      console.log(answerForEdit.value.name);
      editAnswer(props.answer.id!, { ...answerForEdit.value });
    };

    return { sectors, answerForEdit, saveEdits };
  },
  data: () => ({
    sectorsToShow: [] as ISector[],
  }),
  methods: {
    closeEditWindow() {
      this.$emit('closeWindow', false);
    },
    combineSectors(inputList: ISector[]) {
      inputList.forEach((x) => {
        this.sectorsToShow.push(x);
        if (x.subSectors != null) {
          this.combineSectors(x.subSectors);
        }
        //x.name = '&nbsp;&nbsp;&nbsp;&nbsp;' + x.name;
      });
      return this.sectorsToShow;
    },
  },
});
</script>
