<template>
  <div>
    <AnswersList />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AnswersList from '@/components/AnswerList.vue';

export default defineComponent({
  name: 'Answers',
  components: {
    AnswersList,
  },
});
</script>
