<template>
  <div>
    <AddAnswerForm />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AddAnswerForm from '@/components/AddAnswerForm.vue';

export default defineComponent({
  name: 'FromVue',
  components: {
    AddAnswerForm,
  },
});
</script>
